<h2>Covid Stories</h2>
<h3>Login</h3>
<form action="/login" method="post">
    <p><input type="text" placeholder="Username: " name="username" pattern=".{3,20}" required></p>
    <p><input type="password" placeholder="Password: " name="password" pattern=".{3,20}" required></p>
    <input type="submit" value="submit">
</form>
<br>
<form action='/' method="get">
    <input type="submit" value="home">
</form>
