<h2>Covid Stories</h2>
<h3>Signup</h3>
<form action="/users" method="post">
    <p><input type="text" placeholder="Username: " name="username" pattern=".{3,15}" required></p>
    <p><input type="password" placeholder="Password: " pattern=".{3,15}" name="password" required></p>
    <p><input type="password" placeholder="Password Confirmation: " pattern=".{3,15}" name="password_confirmation" required></p>
    <input type="submit" value="submit">
</form>