<%if logged_in?%>
<h2><%=@user.username%>'s Stories</h3>
    <%@stories.each do |story|%>
        <h3><%=story.title%></h3>
        <p><%=story.content%></p>
        <form action="/stories/<%=story.id%>/edit" method="get">
            <input type="submit" value="edit post">
        </form>
    <%end%>
    <%else%>
        <h3>Please <a href="/login">login</a> or <a href="/signup">signup</a> to track your posts.</h3>
<%end%>