<h2>Post a new story</h2>

<form action="/stories" method="post">
    <p><input type="text" placeholder="Title:" name="title"></p>
    <p><textarea id="content_box" placeholder="Content:" maxlength="500" style="width:25%; height: 150px;" name="content"></textarea></p>

    <%if logged_in?%>
    <input type="submit" value="submit">
    <%else%>
    <input type="submit" value="post anonymously">
    <%end%>
</form>
