<h2><%=@story.title%></h2>
<p><%=@story.content%></p>

<%if logged_in?%>
    <%if @story.user_id == session[:user_id]%>
    <form action="/stories/<%=@story.id%>/edit" method="get">
        <input type="submit" value="edit">
    </form>
    <form action="/stories/<%=@story.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
    </form>
    <%end%>
<form action="/stories" method="get">
    <input type="submit" value="view your stories">
</form>
<%end%>

<form action="/" method="get">
    <input type="submit" value="home">
</form>
